@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.ordercontainer{
    border: solid;
    border-color: #7A7A7A;
    border-radius: 10px;
    width: 50%;
    
}

.deliverycontainer{
    border: solid;
    border-color: #7A7A7A;
    border-radius: 10px;
    width: 50%;
    margin-left:4px ;
}

.container{
    /* flex: auto; */
    display: flex;
    flex-direction: column;
    margin: 4px 4px 15px 4px;
    padding: 4px 4px 4px 4px;
    /* margin: auto; */
    width: 85%;
    border: solid;
    border-color: #7A7A7A;
    border-radius: 10px;
}

.infocontainer{
    flex: auto;
    display: flex;
    flex-direction: row;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    /* margin: auto; */
    justify-content: space-between;
    /* border: solid;
    border-color: #7A7A7A;
    border-radius: 10px; */
}

.buttoncontainer{
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-family: 'Nunito';
    font-size: 20px;
    color: #A05496;
}

p {
    font-family: 'Nunito';
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}